@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("/fonts/sanfranciscodisplay-light-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("/fonts/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("/fonts/sanfranciscodisplay-bold-webfont.woff");
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "San Francisco", sans-serif;
  width: 100%;
}

body {
  background: rgb(58, 58, 58);
  font-size: 0.843em;
}

.page {
  width: 210mm;
  height: 297mm;
  margin: 4em auto;
  background: white;
  box-shadow: 0px 0px 30px 15px #00000033;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header,
.content-left,
.content-right {
  padding: 2em;
}

header {
  background: linear-gradient(340deg, #161616, #141414);
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-weight: lighter;
}

header .title {
  font-size: 2em;
  margin-bottom: 0.15em;
}

header .subtitle {
  font-size: 1.2em;
  margin-bottom: 1em;
}

header .info {
  flex: 1;
}

header .picture {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(14deg);
  box-shadow: 0px 0px 10px 5px #00000033;
}

header .lines {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  font-size: 0.9em;
  margin-left: -0.9em;
}

header .lines:not(:first-child) {
  margin-left: 2em;
}

header .lines .line {
  padding: 0.5em;
}

header .lines i {
  width: 30px;
  display: inline-flex;
  justify-content: center;
}

header a {
  color: white;
  text-decoration: none;
}

.content {
  font-size: 0.85em;
  display: flex;
  flex: 1;
  min-height: 0;
}

.content-left {
  flex: 0 0 35%;
  padding-right: 1.5em;
  background-color: rgb(228 228 231);
}

.content-right {
  padding-left: 1.5em;
}

.section-title {
  font-size: 1.3em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-title::after {
  content: "";
  height: 1px;
  width: 100%;
  margin-top: 0.4em;
  background-color: rgba(0, 0, 0, 0.229);
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0 1em;
}

.timeline-entry {
  display: flex;
  margin-bottom: 0.6em;
}

.timeline-entry-time {
  flex: 0 0 9.1em;
}

.timeline-entry-title {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.masonry {
  display: flex;
  flex-flow: wrap;
  margin: 0.7em 0;
  justify-content: space-between;
}

.masonry div {
  padding: 0.5em 0.5em 0.5em 0;
}

.projects {
  margin: 1em 0;
}

.project {
  margin: 0.5em 0 1em;
}

.project .project-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.project .links {
  margin-top: 0.5em;
}

.projects a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}

/* util */
.flex-row {
  display: flex;
}
.flex-break {
  flex-basis: 100%;
  width: 0;
}

@page {
  size: 210mm 297mm;
  margin: 0;
}
@media print {
  html,
  body,
  page {
    width: 210mm;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .page {
    margin: 0;
  }
}
