html,body {
    height: 100%;
}

body {
    background: rgb(37, 37, 37);
}
#name {
    color:white;
    text-align: center;
    margin: 1em;
    font-size: 4em;
    text-shadow: 8px 8px 10px #0000001a;
    font-family: 'Nunito'
}
.white-logo {
    color: white;
}

#socials {
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
}



.social-button {
    display: inline-block;
    transition: all .2s ease-in-out;
    width: 10em;
    margin: 1em;
    vertical-align: middle;
}

.social-button:hover {
    transform: scale(0.9);
    opacity: 0.8;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(151, 151, 151);
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}