:root {
    --footer-height: 1.5em;
}

html {
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

h1 {
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    text-shadow: 8px 8px 10px #0000001a;
    font-family: 'Nunito';
}

.white-logo {
    color: white;
    width: 1em;
}

#socials {
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-self: center;
    padding-bottom: 2em;
}

.social-button {
    display: inline-block;
    transition: all .2s ease-in-out;
    margin: 0.35em;
    vertical-align: middle;
    font-size: 4.8em;
    box-shadow: 0px 0px 0.2em 0.05em rgba(0, 0, 0, 0.404);
    background-color: red;
    padding: 0.4em;
    border-radius: 50%;
    line-height: 1em;
    z-index: 500;
}

.social-button:hover {
    transform: scale(0.9);
    opacity: 0.8;
    box-shadow: 0px 0px 0.1em 0.05em rgba(0, 0, 0, 0.199);
}

.social-button.linkedin {
    background-color: #0077B5;
}

.social-button.github {
    background-color: #6e5494;
}

.social-button.instagram {
    background-color: #f56040;
}

.social-button.facebook {
    background-color: #3C5A99;
}

.social-button.twitter {
    background-color: #1DA1F2;
}

.social-button.email {
    background-color: rgb(35, 229, 255);
}

.social-button.cv {
    background-color: rgb(187, 177, 43);
}

.social-button-wrapper {
    display: inline-block;
}

.social-button+span {
    transition: all .2s ease-in-out;
    color: white;
    display: block;
    margin-top: -2em;
    font-weight: 500;
    z-index: -1000;
    opacity: 0;
    transform: translateY(-1);
}

.social-button:hover+span {
    opacity: 1;
    transform: translateY(0.5em);
}

.footer {
    width: 100%;
    color: rgb(151, 151, 151);
    text-align: center;
    font-size: 0.8em;
    margin-top: -2em;
    height: 2em;
}

.footer a {
    color: rgb(151, 151, 151);
}

.wrapper {
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, rgb(36, 36, 36), rgb(27, 27, 27)) repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
}

.content {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4em;
}

@media (max-width: 780px) {
    h1 {
        font-size: 2.5em;
    }
    .social-button {
        font-size: 4em;
    }
    .content {
        padding-bottom: 3em;
    }
    .desktop-break {
        display: none;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2.5em;
    }
    .social-button-wrapper {
        display: block;
    }
    .social-button {
        margin: 0.5em auto;
        font-size: 4.5em;
        width: 1.8em;
        height: 1.8em;
    }
    /* We always want to show social-button labels when screen is this small*/
    .social-button+span {
        margin-top: -1.5em;
        margin-bottom: 0.2em;
        opacity: 1;
        transform: translateY(0.7em);
    }
}

@media (any-hover: none) {
    /* We always want to show social-button labels when hovering is not supported*/
    .social-button+span {
        margin-top: -1.5em;
        margin-bottom: 0.2em;
        opacity: 1;
        transform: translateY(0.7em);
    }
}