html {
    overflow: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, rgb(36, 36, 36), rgb(27, 27, 27)) repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
}

h1 {
    color: white;
    font-size: 3em;
    text-shadow: 8px 8px 10px #0000001a;
    padding-bottom: 10px;
}

h2 {
    color: rgba(255, 255, 255, 0.726);
}

a {
    color: unset;
    text-decoration: none; /* no underline */
  }

.content {
    display: flex;
    height: 100%;
    overflow-y: scroll;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0000002d;
    flex: 1 1 80%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 8%;
    padding-right: 10px;
}

.socials {
    flex: 1 1 50%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
}

.socials-inner {
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: start;
    margin: auto;
    padding: 20px 0;
}

.white-logo {
    color: white;
    width: 1em;
}

.social-button-wrapper {
    fill: white;
    font-size: 1.5em;
    padding: .5em;
    display: block;
}

.underline {
    text-decoration: underline;
}

.social-button-text {
    color: white;
    text-decoration: none;
}

.social-button-icon {
    padding-right: 4px;
}

footer {
    width: 100%;
    color: rgb(151, 151, 151);
    text-align: center;
    font-size: 0.75em;
    height: 24px;
    margin-top: -24px;
}

footer a {
    color: rgb(151, 151, 151);
}

@media (max-width:900px) {

    .info {
        padding-left: 24px;
    }
}

@media (max-width: 780px) {
    .content {
        flex-direction: column-reverse;
        height: initial;
        min-height: 100%;
        margin-bottom: -24pxem;
    }

    .info {
        padding: 40px 10px;
        align-items: center;
        flex: 1 1;
        text-align: center;
        font-size: 0.8em;
    }

    .socials-inner {
        padding: 40px;
    }

    .socials {
        padding-bottom: 24px;
    }

    .footer {
        margin: 0;
    }
}

@media (max-width:500px) {

    .info {
        font-size: .65em;
    }
}